body { /*/Estilos generales para la página*/
  background: #F1EDE8;
  margin: 0 auto;
  padding: -12vh;
  font-family: 'Didact Gothic', sans-serif;
  color: #A09270;
  background-image: url("./../assets/images/sa.jpg");
}

img {
   /*Responsive Image*/
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

a {
  text-decoration: none;
  color: #A09270;
}

a:hover {
  color: #C4B9A1;
}

span {
  font-size: 22px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  color: #A09270;
  border-radius: 4px;
  border: 3px solid double pink;
  border-width: 4px;
  background: #f4efe8;
  width: 226px;
  padding: 15px;
}

h3, h1, {
  margin: 0;
}

h3 {
  font-size: 33px;
}

h4 {
  font-size: 25px;
    margin: 0.9px;
}

header, footer {
  background: #f9f6f2;
  height: 68px;
}

/*Efecto fade*/
img, button {
    opacity: 1;
    transition: .6s ease;
    backface-visibility: hidden;
    margin-bottom: 4vh;
}

img:hover, button:hover {
  opacity: 0.56;
}


#logo {
  height: 50px;
  text-align: center;
  float: right;
  margin-top: -12px;
}

#info {
  padding: 2em;
  background-color: rgb(250, 245, 237);
}

#aline {
  text-align: right;
}

.contact-container {
  padding-left: 84px
}

.head-background {
  background-image:  url("./../assets/images/portada.jpg");
  background-size: cover;
  font-size: 45px;
  text-align: center;
  color: white;
  text-shadow:  3px 0px 9px #969696;
  height: 350px;
  margin-top: 22px;
  margin-bottom: 42px;
}

.head {
  margin-top: 32px;
}

.head-ul {
  list-style: none;
  position: relative;
  float: right;
  text-align: left;
}

.container-menu {
  padding: 1em;
}
.menu-ul {
  padding-left: 3.5em;
  width: 100%;
}
.menu { 
  font-size: 20px;
  list-style: none; /*Quitar viñeta*/
  margin: 3px;
  display: inline-block; /*Convertir las celdas de la tabla a lineal*/
  text-align: left;
}

.first-text{
  padding: 3em;
}

.final {
  text-align: center;
}

.clothes {
  text-align: center;
  padding: 2em;
}

.encabezado a span {
  padding: 3em;
}



.clothes, .info {
  background-color: rgb(250, 245, 237);
  /* padding: -55vh; */
}

.info {
  border-style: solid rgb(250, 245, 237);
  border-width: 33vh;
}